**/.*/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/spellright.dict
!.vscode/c_cpp_properties.json
!.doc/**/*

!.build/**/*.zip

!**/Plugins/.sources/**/*
[Pp]ackages/**/*
![Pp]ackages/manifest.json
![Pp]ackages/packages-lock.json
[Oo]bj/
[Bb]in/
[Tt]emp/
[Ll]ogs/
UserSettings/
Library/
_ReSharper.Caches/

*.sln
*.csproj
*.user
.vsconfig
